<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <% if (user) { %>
    <h1>
      Hello<% if (user.givenName) { %>, <%= user.givenName %><% } %>
    </h1>
    <p>You've successfully logged in to this ToDo List app (via <%= authType %>).</p>
    <p><%- linkTo('Click here to log back out', logoutPath) %></p>
  <% } else { %>
    <h3>Hello, Welcome to ToDo List Application</h3>
    <p>You're not authenticated with this app.</p>
    <p><%- linkTo('Click here to Registered with this application', addUserPath) %></p>
    <p><%- linkTo('Click here to login', loginPath) %></p>
  <% } %>
</div>
