<div class="hero-unit">
  <h3>To Do Lists</h3>
  <%- linkTo('Create a new To Do', addTodoPath, {class: 'btn btn-primary pull-right'}) %>
</div>

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Action</th>
  </thead>
  <tbody> 
<% if (todos && todos.length) { %>
  <% for (var i in todos) { %>
  <tr>
    <td><%= todos[i].title %></td>
    <td><%= todos[i].description %></td>
    <td> <i class="icon-list-alt"></i> <%= todos[i].status %> </td>
    <td><%- linkTo("Show", todoPath(todos[i].id), {class: 'btn btn-primary'}) %> |
        <%- linkTo('Edit', editTodoPath(todos[i].id), {class: 'btn btn-primary'}); %> </td>
  <tr>
  <% } %>
<% } %>
</tbody>
</table>

